<div class="page-header">
<h2>User Guide</h2>
</div>

<h3>What is BriskForms?</h3>
<p>
  BriskForms provides a fast and secure mechanism by which to keep in touch with your visitors while protecting your privacy and keeping spammers away.
</p>
<p>
  With no registration required, adding a BriskForm to your site or app has never been easier. 
</p>
<h3>Getting Started</h3>
<p>
  We ask just two simple questions.
</p>
<h4>1. Where are you at?</h4>
<p>
  Tell us where to send your form submissions.
</p>
<div class="bs-callout bs-callout-info">
  A confirmation link will be sent to this address following setup.
</div>
<h4>2. Do what now?</h4>
<p>
We can't just leave your visitors hanging! Tell us where you want them sent next.
</p>
<h3>Setting up your Brisk Form</h3>
<p>
  Upon submission of your configuration information, you'll be supplied with a secure URL to place in your form's action attribute. Want to use AJAX? Not a problem! Just POST your form data to the same URL and we'll give you a JSON object indicating the status of the form submission. Padded JSON (PJSON) is supported by setting the "callback" parameter in the request header or URL to a function of your choosing.
</p>

<div class="bs-callout bs-callout-info">
<h4>Important:</h4>
The address you used in step 1 must be confirmed via a confirmation link before your BriskForm will be active.
</div>
<h4><em>And that's it.</em></h4>
<p>We'll take it form here.</p>


<script>
$('#nav_guide').addClass('active');
</script>
