<div class="page-header">
<h2>User Guide</h2>
</div>

    <p>Source URL is the URL of your page containing your form. It works best if you include just the base URL (for example 'mystaticsite.com' instead of 'http://www.mystaticsite.com/pages/contactme'). 'Response Email' is the email address at which you'd like to receive responses and the address the confirmation email will be sent to. 'Submit Success URL' is the URL your users will be forwarded to upon successful submission of your form and failure is similar. After clicking the Create button, you are provided with an 'Action URL'. Just click the link in the confirmation email and copy the Action URL into your form's action attribute and you're off to the races. Make sure your form's elements 'name' attributes are specified as well.</p>


<script>
$('#nav_guide').addClass('active');
</script>