<section>
  <h2>HTML forms delivered right to your email inbox for free.</h2>
  <a href="/new">Get started now!</a>
</section>
<section>
  <h2>How does it work?</h2>
  <p>Simply fill out some basic information such as where you'd like form results to be sent and result URLs, and you're off to the races. We give you a URL for your form's action attribute and no one will know your email address. No database, no costs, no reason not to use it.
</section>
