<div class="jumbotron">
  <h1>HTML forms delivered to your inbox <em>for free</em></h1>
  <p class="lead">Submit your form to our URL, and we'll forward the contents to your email. No account, no database, no scripting, and no cost!</p>
  <p><a class="btn btn-lg btn-success" href="/new" role="button">Get started now</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Free, secure HTML form submission for static sites</h4>
    <p>Ideal for people wishing to implement a contact form <em>without exposing your email address</em> on static sites such as those created with Jekyll, Pelican, or Hakyll.</p>
    <h4>Example usage:</h4>
    <p><%= image_tag("sample.png", class:'img-thumbnail') %></p>
  </div>

  <div class="col-lg-6">
    <h4>Why choose Brisk Forms</h4>
    <p>Similar services all have the same problem: Your email address is exposed to would-be spammers, unless you pay them. Brisk Forms side-steps this issue by providing you with a unique and secure URL to use in place of your email address. You can even stop emails at any time with a click of a button.</p>
    <h4>How</h4>
    <p>Go <a href="/new">here</a> and fill in the fields. Source URL is the URL of your page containing your form. It works best if you include just the base URL (for example 'mystaticsite.com' instead of 'http://www.mystaticsite.com/pages/contactme'). 'Response Email' is the email address at which you'd like to receive responses and the address the confirmation email will be sent to. 'Submit Success URL' is the URL your users will be forwarded to upon successful submission of your form and failure is similar. After clicking the Create button, you are provided with an 'Action URL'. Just click the link in the confirmation email and copy the Action URL into your form's action attribute and you're off to the races. Make sure your form's elements 'name' attributes are specified as well.</p>

  </div>
</div>
<p>When the form is completed and submitted, the results of the form will be emailed to you, and your user will be forwarded to wherever you'd like.
<a href="/new">Start Now</a>, it's free!</p>

<script>
$('#nav_home').addClass('active');
</script>
