<h1>Privacy Policy</h1>
<h4>Last updated: February 25, 2016</h4>
<p>Brisk Forms is committed to protecting your privacy. We only use the information we collect about you to process forms, verify account ownership and to provide support and upgrades for our products. We do not store the information submitted by external forms in our database. Please read on for more details about our privacy policy.</p>

<h3>How does Brisk Forms protect customer information?</h3>
<p>We use a secure server for collecting personal information. The secure server layer (SSL) encrypts all of the information you enter before it is transmitted over the interenet and sent to us. Furthermore, all of the customer data we collect is protected against unauthorized access.</p>

<h3>How are credit cards handled?</h3>
<p>They're not, because Brisk Forms is a free service.</p>

<h3>What about "cookies"?</h3>
<p>"Cookies" are small pieces of information that are stored by your browser on your computer's hard drive. We do not use cookies to collect or store any information about visitors or customers; they are used only to identify you and your computer for secure access to our site.</p>

<h3>How are email addresses used?</h3>
Email addresses are stored only so that we can send our validation and notifiers of form activity. We do not use them for marketing or sales.

<h3>Will Brisk Forms disclose the information it collects to outside parties?</h3>
<p>Brisk Forms will not sell your personal information to others. Brisk Forms may provide aggregate statistics about our customers, sales, traffic patterns, and related site information to reputable third-party vendors, but these statistics will not include personally identifying information.</p>
<p>Brisk Forms may release account information when we believe, in good faith, that such release is reasonably necessary to (i) comply with law, (ii) enforce or apply the terms of any of our user agreements or (iii) protect the rights, property or safety of Brisk Forms, our users, or others.</p>

<h3>Your Consent</h3>
<p>By using our Web site, you consent to the collection and use of this information by Brisk Forms. If we decide to change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it.</p>
<p>Brisk Forms may provides links on our site to other sites we work with. The privacy policies of those linked sites are the responsibliity of those site owners, and Brisk Forms has no control or influence over their policies. Please check the policies of each site you visit for specific information. Brisk Forms cannot be held liable for damage or misdoings of other sites, linked or otherwise.</p>

<p><strong>Contact Us</strong></p>
<p>If you have any questions about our Privacy Policy, please contact us.</p>
