<div class="jumbotron">
  <h1>Error!</h1>
  <p class="lead">An error has occurred. We know about it and are working to fix it.</p>
  <p><a class="btn btn-lg btn-success" href="/" role="button">Return home</a></p>
</div>