<div class="jumbotron">
  <h1>Forbidden!</h1>
  <p class="lead">You are not authorized to access this resource.</p>
  <p><a class="btn btn-lg btn-success" href="/" role="button">Return home</a></p>
</div>